@import url("./components/main-section-header.css");
@import url("./components/main-section-main.css");
@import url("./components/main-section-nav.css");
@import url("./components/cart-section-nav.css");
@import url("./components/cart-section-main.css");
@import url("./components/cart-section-summary.css");

/* GENERAL DESPOSITION */
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.general-container {
  width: 100vw;
  background-color: rgba(251, 110, 58, 1);
}

.main-page {
  width: 100%;
  max-width: 600px;
  background-color: white;
  margin: auto;
  height: 100vh;
}

body {
  overflow: hidden;
  top: 0;
}

.cart-page {
  background-color: #FAFAFA;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
  display: none;
}