* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.scroll-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.scroll-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20px;
}

.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img {
  width: 50px;
  height: 50px;
  background-color: red;
}

footer {
  display: flex;
  justify-content: center;
}

.boton-footer {
  border-radius: 50%;
  position: relative;
  width: 200px;
  height: 200px;
  /* left: 160px;
  top: 685px; */
  background-color: orangered;
  box-shadow: 10px 10px 12px silver;
}

.boton-footer img {
  position: absolute;
  width: 30%;
  height: 30%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}