* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.scroll-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scroll-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20px;
  overflow-wrap: ;
}

.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img {
  width: 50px;
  height: 50px;
  background-color: red;
}

.boton-footer { 
    border-radius: 50%;
    position: absolute;
    width: 56px;
    height: 56px;
    left: 160px;
    top: 685px;
    background-color:orangered; 
    box-shadow: 10px 10px 12px silver;
     
}
.img-buttom {
    position: absolute;
    width: 18.5px;
    height: 16.83px;
    left: 176px;
    top: 703px;
    border: 2px solid #FBFBFB;
}
    
