/* GENERAL DESPOSITION */
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 5%;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5%;
}

.nav__logo {
  font-weight: 700;
}

/* HEADER */
header {
  padding-bottom: 5%;
}

header h1 {
  font-weight: 600;
  padding-bottom: 2%;
}

header h2 {
  font-weight: 500;
  font-size: 1em;
  opacity: 40%;
}

/* SCROLL CLASISICATION SECTION */
.scroll-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.scroll-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20px;
}

.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img {
  width: 50px;
  height: 50px;
  background-color: red;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
}

.boton-footer {
  border-radius: 50%;
  position: relative;
  width: 200px;
  height: 200px;
  /* left: 160px;
  top: 685px; */
  background-color: orangered;
  box-shadow: 10px 10px 12px silver;
}

.boton-footer img {
  position: absolute;
  width: 30%;
  height: 30%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}