.icones-footer {
    background-color: aliceblue;
    justify-content: center;
}

.boton-footer {
border-radius: 50%;
position: relative;
width: 150px;
height: 150px;
/* left: 160px;
top: 685px; */
background-color: orangered;
box-shadow: 10px 10px 12px silver;

}

.home, pack, heart, user {

    background-color: aliceblue;
    border-radius: 30%;
}